/* common */

span {
  color:orange;
}

body {
  margin: 0;
  color:#a5a5a5;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 1000px;
}

/* header */

header {
  padding: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  text-align: center;
  display: flex;
}

.menu {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.menu li {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  display: flex;
  align-items: center;
}


/* main */

.hero {
  background: #ffefe0;
  justify-content: space-between;
  text-align: center;
  outline: red 1px solid;
}

.kozue {
  border-radius: 10%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.job {
  background: #b7ffb7;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.job .desc {
  outline: red 1px solid;
}

.wax {
  background: #b7ffff;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.persona {
  background: #b7ffb7;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.voices {
  /* text-align: center; */
  padding: 48px 0;
  background: #ffefe0;
}

.voices h2 {
  padding-bottom: 32px;
  text-align: center;
}

.voices section {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
}

.voices footer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.voices section + section {
  margin-top: 16px;
}

.meet {
  text-align: center;
  padding: 48px 0;
}

.meet p {
  /* outline: red 1px solid; */
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.tap {
  /* display: flex; */
  align-items: center;
  /* outline: red 1px solid; */
}

.btn {
  /* display: block; */
  font-size: 20px;
  width: 160px;
  background: #ffe5e5;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  /* outline:orange 1px solid; */
  box-shadow: 4px 4px 2px;
}

.map {
  text-align: center;
  padding: 48px 0;
}

.datumou {
  text-align: center;
  margin-bottom: 32px;
}

.copy {
  padding: 60px 0 ;
  text-align: center;
  background: #454849;
  color: #aaa;
}


.circle {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  align-items: center;
  background-color: #ffe5e5;
  margin: 24px auto; 
  text-align: center;
  transform: translateY(16px);
}

.circle-innner {
  transform: translateY(-400px);
  /* position: absolute;
  top: 57%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

/* large screen  */

@media (min-width: 600px) {

  .hero .container {
    display: flex;
  }

  .hero .desc,
  .hero .pic {
    width: 50%;
  }

  .main section {
    display: flex;
    align-items: center;
  }

  .main .wax {
    flex-direction: row-reverse;
  }

  .voices .container {
    display: flex;
    gap: 16px;
  }

  .voices section + section {
    margin-top: 0;
  }

  .voices section {
    width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}