/* common */

span {
  color:orange;
}

body {
  margin: 0;
  color:#a5a5a5;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
}


/* header */

header {
  padding: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  text-align: center;
  display: flex;
}

.menu {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.menu li {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  display: flex;
  align-items: center;
}


/* main */

.hero {
  background: #ffefe0;
  justify-content: space-between;
  text-align: center;
}

.kozue {
  border-radius: 10%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.job {
  background: #b7ffb7;
  justify-content: space-between;
  text-align: center;
}

.wax {
  background: #b7ffff;
  justify-content: space-between;
  text-align: center;
}

.persona {
  background: #b7ffb7;
  justify-content: space-between;
  text-align: center;
}

.map {
  text-align: center;
}

.datumou {
  text-align: center;
}

.meet {
  text-align: center;
}

footer {
  padding: 60px 0 ;
  text-align: center;
  background: #454849;
  color: #aaa;
}

.circle {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  align-items: center;
  background-color: #ffe5e5;
  margin: 0 auto; 
  text-align: center;
  transform: translateY(16px);
}

.circle-innner {
  position: absolute;
  top: 57%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}