/* common */

span {
  color:orange;
}

body {
  margin: 0;
  color:#a5a5a5;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* width: calc(100% / 2 ); */
  /* margin: 0 auto; */
  max-width: 1000px;
}

.meet {
  width: calc(100% - 32px);
  /* width: calc(100% / 2 ); */
  margin: 0 auto;
  max-width: 1000px;
  /* outline: red 1px solid; */
}



/* header */

header {
  padding: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  text-align: center;
  display: flex;
}

.menu {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.menu li {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  display: flex;
  align-items: center;
}


/* main */

/* トップ */
.hero {
  background: #ffefe0;
  justify-content: space-between;
  text-align: center;
  /* outline: red 1px solid; */
}

.hero h1 {
  padding-top: 40px;
}

.hero .container {
  align-items: center;
}

.hero .container .desc {
  background: #ffe5e5;
  border-radius: 50%;
}

.hero .container .desc h2 {
  padding-top: 16px;
   padding-bottom: 16px;
}

.hero .container .desc p {
 padding-bottom: 40px;
}

.kozue {
  border-radius: 5%;
  object-fit: cover;
}

/* こんな人 */
.story {
  background: #fff;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.story .container {
  align-items: center;
}

.story .container .desc {
  background: #ffe5e5;
}

.story .container .desc h2, p {
 padding-bottom: 16px;
}

.kozue02 {
  border-radius: 5%;
  object-fit: cover;
}

/* こずえができる事 */
.job {
  background: #fff;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.job .container {
  align-items: center;
}

.job .container .desc {
  background: #ffe5e5;
  border-radius: 50%;
}

.job .container .desc h2 {
  padding-top: 16px;
   padding-bottom: 16px;
}

.job .container .desc p {
 padding-bottom: 16px;
}

/* ブラジリアンワックスとは */
.wax {
  background: #fff;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.wax h2 {
  padding-bottom: 40px;
}

.wax .container {
  align-items: center;
}

/* .wax .bsw {} */

/* こんなアナタにおすすめ */
.persona {
  background: #fff;
  justify-content: space-between;
  text-align: center;
  padding: 48px 0;
}

.persona .container {
  align-items: center;
}

/* 口コミ */
.voices {
  /* text-align: center; */
  padding: 32px 0;
  background: #ffefe0;
  border-radius: 16px;
  margin-top: 16px;
}

.voices h2 {
  padding-bottom: 32px;
  text-align: center;
}

.voices .container {
  margin: 0 auto;
  width: calc(100% - 32px);
}

.voices section {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
}

.voices footer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.voices section + section {
  margin-top: 16px;
}

.status {
  font-size: 15px;
}

/* 会いに行く */
.meet {
  text-align: center;
  padding: 48px 0;
}

.meet p {
  /* outline: red 1px solid; */
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.tap {
  /* display: flex; */
  align-items: center;
  /* outline: red 1px solid; */
}

.btn {
  /* display: block; */
  font-size: 20px;
  width: 160px;
  background: #ffe5e5;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  /* outline:orange 1px solid; */
  box-shadow: 4px 4px 2px;
}

.map {
  text-align: center;
  padding: 48px 0;
}

/* いらすとやとフッター */
.datumou {
  text-align: center;
  /* margin-bottom: 8px; */
}

.datumou p {
  margin: 0;
}

.copy {
  padding: 60px 0 ;
  text-align: center;
  background: #454849;
  color: #aaa;
}


/* large screen  */

@media (min-width: 600px) {

  .container {
    margin: 0 auto;
  }

  .hero .container {
    display: flex;
  }

  .hero .desc,
  .hero .pic {
    width: 50%;
  }

  .story .container {
    display: flex;
    flex-flow: row-reverse;
  }
  
  .story .desc,
  .story .pic {
    width: 50%;
  }
  
  .job .container {
    display: flex;
  }

  .job .desc,
  .job .pic {
    width: 50%;
  }

  .wax .container {
    display: flex;
    /* flex-flow: row-reverse; */
  }

  .wax .desc,
  .wax .pic {
    width: 50%;
  }

  .persona .container {
    display: flex;
  }

  .persona .desc,
  .persona .pic {
    width: 50%;
  }

  .voices .container {
    display: flex;
    gap: 16px;
  }

  .voices section + section {
    margin-top: 0;
  }

  .voices section {
    width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .meet {
    display: flex;
  }
  
  .meet .desc {
    margin-top: 24px;
  }

  .meet .desc,
  .meet .pic {
    width: 50%;
  }
  
}


section {
  outline: red 1px solid;
}